<%-include('header',{title:title}) %>
  <body><%-include('accountBar',{title:title,user:typeof user === "undefined" ? undefined : user}) %>
    <div class="content-container">
        <div class="sign-in">   
        <h1><%= title %></h1>
        <%if (typeof user != "undefined"){ %>  
        <form method="POST">
          <p>Username: <%= user.username %></p>
          <p>Firstname: <%= user.firstname %></p>
          <p>Lastname: <%= user.lastname %></p>
          <p>Membership: <%= user.membership_status %></p>
          <%if (user.membership_status === 'User'){ %>  
            <div class="sign-in-form">
                <div class="form-input">
                    <label for="passphrase">Membership Upgrade Passphrase</label>
                    <input type="password" name="passphrase" required id="passphrase" placeholder="passphrase">
                </div>
                <div class="form-input">
                    <input type="submit" value="Submit">
                </div>
            </div>
            <% } %>
            
        </form>
        <%if(typeof errors != "undefined"){ %>
          <% errors.forEach((error) => { %>
              <p><%= error.msg%></p>
          <% })%>
        <% } %>
        </div>
        <% }else{ %>
            <p>Please <a href="/messageboard/sign-in">Sign in </a></p>
         <% } %>
         
    </div>
  </body>
</html>
