<%-include('header',{title:title}) %>

  <body>
    <%-include('accountBar',{title:title,user:typeof user === "undefined" ? undefined : user}) %>
    <div class="messages-title">
      <h1>
        <%= title %>
      </h1>
    </div>
    <div class="message-container">
      <% if (user){ %>
        <div class="message-button">
         <a href="/messageboard/message/create"><button>Post a new message</button></a>
        </div>
        <% } %>
      <div class="messages">
        <% messages.forEach((message) => { %>
        <div class="message">
          <div class="message-detail">
            <div class="message-post">
            <% if (user && (user.membership_status === 'Member' || user.membership_status === 'Admin')) { %>
            <div><%= message.author.name %></div>
            <% }else{%>
              <div><i>anonymous</i></div>
            <% }%>
            <div><%=message.formattedDate%></div>
            </div>
            <% if (user && user.membership_status === 'Admin') { %>
              <form action="/messageboard/message/delete" method="post">
                <input type="hidden" name="messageid" value="<%=message._id%>" >
                <button type="submit" >delete</button>
              </form>
            <% }%>
          </div>
          <div class="message-content"><%=message.message %></div>
        </div>
        <% }) %>
      </div>
      </div>
  </body>

  </html>